*.o
*.o.d

*.d
Debug/Screens
Debug/Input
Debug/Utils
Release/Screens
Release/Input
Release/Utils

.cproject
.project


/Debug/*.d
/Release/*.d
/Debug/*.o
/Debug/Catharsis
/Release/*.o
/Release/Catharsis
/Debug

*.log
*.a
